/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
./public/storage/events/*
./public/storage
./public/challenge
Homestead.json
foo.php
Homestead.yaml
.env
.env.production
.project
myapp.zip
bean.sh
Vagrantfile
/.settings
/.ebextenstions
# Elastic Beanstalk Files
.elasticbeanstalk/*
.vagrant
!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

