option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:VPdZn/nk0f2bGtn+RuVjLwNgmDxKLCRFLKr8iXTBYOo=
    DB_HOST: meshdb.cifc91ljyh3t.us-east-1.rds.amazonaws.com
    DB_PORT: 3306
    DB_DATABASE: mesh
    DB_USERNAME: admin
    DB_PASSWORD: password