commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings: 
  "aws:elasticbeanstalk:application:environment":
    COMPOSER_HOME: /root

  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader

container_commands:
  00optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
