Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "mest-env"

files:
  "/tmp/.env" :
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/mest-env/.env
    authentication: S3AccessCred

container_commands:
  01move_env:
    command: "mv /tmp/.env /var/app/.env"