container_commands:
  02-config:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"
  03-migrations:
    command: "php artisan migrate --force"
    leader_only: true
    cwd: "/var/app/ondeck"
  04-cache:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  05_optimize:
    command: "php artisan optimize --force"
    cwd: "/var/app/ondeck"